@import "tailwindcss";

:root {
  --neon-purple: #bc13fe;
  --neon-blue: #00d2ff;
  --bg-color: #050505;
  --text-color: #ffffff;
  --card-bg: #080808;
  --border-color: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Space Mono', monospace;
  margin: 0;
  overflow-x: hidden;
}

/* ===== Scroll hidden ===== */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ===== Counter ===== */
.counter {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 10px;
  color: #00d2ff;
  background: rgba(0, 210, 255, 0.08);
  border: 1px solid transparent;
  transition: 0.3s;
}

.counter:hover {
  border-color: #00d2ff;
}

/* ===== Ticks ===== */
.ticks {
  position: relative;
  width: 100%;
}

.ticks::before,
.ticks::after {
  content: '';
  position: absolute;
  top: -4px;
  border: 5px solid transparent;
}

.ticks::before {
  left: 0;
  border-left-color: rgba(255,255,255,0.2);
}

.ticks::after {
  right: 0;
  border-right-color: rgba(255,255,255,0.2);
}